body {
	background-color: #F9F6F6;
	font-family: 'Raleway';
	color: #555555;
}

#app {
	border: 1px solid #555555;
	max-width: 360px;
	margin: 40px auto 0;
	padding: 30px;
}


h1, h2 {
	font-weight: 600;
}

.labels {
	margin-top: 40px;
}

p {
	font-size: 0.9em;
	letter-spacing: 0.02em;
}

#title {
	padding: 10px;
	font-size: 3em;
	max-width: 100%;
	text-align: center;
	margin: 10px auto;
}

hr {
	color: #555555;
}

button {
	padding: 0;
}

.buttons {
	border-radius: 50%;
	color: #555555;
	outline: none;
	font-size: 1.2em;
	font-weight: 100;
	width: 40px;
	height: 40px;
	transition: .1s ease-in-out;
	margin-left: 30px;
	float: right;
	border: 1px solid #555555;
	background-color: #F9F6F6;
}

.buttons:active {
	color: #fff;
	border: 1px solid #fff;
	background-color: #555555;
}

.task-btns {
	margin: 0;
	border: 0;
	width: 15px;
	height: 15px;
	border-radius: none;
}

.task-btns:active {
	color: tomato;
	border: 0;
	background-color: white;
}


#task {
	border: 1px solid #555555;
	height: 30px;
	width: 250px;
	font-family: 'Raleway';
	transition: .2s ease-in-out;
	background-color: #F9F6F6;
	padding: 0 5px;
}

#task:focus {
	background-color: #fff;
}


ul {
	letter-spacing: 0.05em;
	margin: 0 auto;
    list-style-type: none !important;
    -webkit-padding-start: 0 !important;
}

li {
	/* border: 2px solid #D8D6D6; */
	padding: 10px;
	font-size: 1em;
	border: 1px solid #555555;
	list-style: none;
	margin: 0 auto 10px;
}

li .task-item {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-webkit-animation-delay: .25s;
	-moz-animation-delay: .25s;
	-ms-animation-delay: .25s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
}


/* This will disable the blue glowing border around elements */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

